*{
    font-family: 'Playpen Sans', cursive; 
}
body{
    background: linear-gradient(to top, rgb(43, 42, 42), 20%, rgb(170, 172, 172));
}
header{
    background-color: rgb(170, 172, 172);
    position: sticky;
    top: 0;
    z-index: 100;
}
.container{
    color: white;
    padding: 20px;
}
.img-fluid{
    width:1920px;
    border: solid 2px white;
    border-radius: 10px;  
}
.text-light{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding: 5px;      
}
.title{
    text-align: center;
}

.navbar:toggler{
    background-color: brown;
}
.dise{
    float: right;
    margin-left: 20px;
    width: 250px;
    height: 150px; 
    border-radius: 10px;
}
.dise1{
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 150px; 
    border-radius: 10px;
}
.soci{
    height: 60px;
    width: 60px;
    float: right;
    padding: 15px;
    margin-right: 10px; 
    transition: all .3s ease; 
    }
    .soci1{
    height: 60px;
    width: 60px;
    float: left;
    padding: 15px;
    margin-left: 10px;
    transition: all .3s ease;
}
.direc{
    color: white;
    text-align: center;
}

.poli{
    text-transform:uppercase;
    font-weight: 600;
    padding: 10px;    
}


li{
    font-size: 18px;              
}
li:hover{
    background-color: white;
    border-radius: 10px;
}
nav{
    
    justify-content: center;
    align-items: center;
}
 