<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trabajo Final masterD">
    <meta name="Author" content="Toni">
    <title>My Web</title>
    <!--FAVICON-->
    <link rel="shortcut icon" href="/./assets/images/favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/contacto.css">

    
</head>
<body>
    <header> <img src="../assets/images/1.png" alt="Logo cabecera" class="logo1" width="1594" height="396"> 
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/presupuesto.html" >PRESUPUESTO</a></li>
                <li><a href="../views/galeria.html" >GALERÍA</a></li>
                <li class="nav1"><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <div class="mapa" id="map"></div>
            <div class="infoMaps">
                <p>Información de Contacto:</p>
                <p>Tel: 635525659. Email: tonimellado@myweb.com</p>
            </div>
        
    </main>
        <footer>
            
            <div><img src="../assets/images/2.png" alt="eslogan" class="logo2" width="1584" height="396"></div> 
                <a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" alt="instagram" width="512" height="512" class="soci1"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png" alt="facebook" width="512" height="512" class="soci1"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="../assets/images/linkedin.png" alt="LinkedIn" width="512" height="512" class="soci"></a>
                <a href="https://twitter.com" target="_blank"><img src="../assets/images/twitter_5968830.png" alt="twitter" width="512" height="512" class="soci"></a>
            <div class="direc"><p>©Antonio Fco Mellado. Todos los derechos reservados.</p>
                <div class="poli"><a href="../views/politica.html">Política de Privacidad y Cookies.Condiciones de Venta</a></div>  
                <p>Calle Granada, 19 Alcalá del Rio. 41200. Sevilla</p></div>
      
       </footer>
       <!--JAVASCRIPT-->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="../js/javascript.js"></script>
        <script src="../js/mapa.js"></script>
        
</body>
</html>