<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trabajo Final masterD">
    <meta name="Author" content="Toni">
    <title>My Web</title>
    <!--FAVICON-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/galeria.css">
    
</head>
<body>
    <header> <img src="../assets/images/1.png" alt="Logo cabecera" class="logo1" width="1594" height="396"> 
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
                <li class="nav1"><a href="../views/galeria.html">GALERÍA</a></li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <div class="sliderShow-contant">
                <div class="mySlides">
                    <div class="numero">1/8</div>
                    <img class="img1" src="../assets/images/portfolio1.jpg" alt="Imagen1">
                    <div class="texto">Estudio de Web adaptable para cualquier dispositivo</div>
                </div>
                <div class="mySlides">
                    <div class="numero">2/8</div>
                    <img class="img1" src="../assets/images/portfolio2.jpg" alt="Imagen2">
                    <div class="texto">Portfolio Personalizado</div>
                </div>
                <div class="mySlides">
                    <div class="numero">3/8</div>
                    <img class="img1" src="../assets/images/portfolio3.jpg" alt="Imagen3">
                    <div class="texto">Blog con acceso a Redes Sociales</div>
                </div>
                <div class="mySlides">
                    <div class="numero">4/8</div>
                    <img class="img1" src="../assets/images/portfolio4.jpg" alt="Imagen4">
                    <div class="texto">Web y aplicación para dispositivos Apple</div>
                </div>
                <div class="mySlides">
                    <div class="numero">5/8</div>
                    <img class="img1" src="../assets/images/portfolio5.jpg" alt="Imagen5">
                    <div class="texto">Web para Smartphone o Tablet</div>
                </div>
                <div class="mySlides">
                    <div class="numero">6/8</div>
                    <img class="img1" src="../assets/images/portfolio6.jpg" alt="Imagen6">
                    <div class="texto">Web sencilla y dinámica</div>
                </div>
                <div class="mySlides">
                    <div class="numero">7/8</div>
                    <img class="img1" src="../assets/images/portfolio7.jpg" alt="Imagen7">
                    <div class="texto">Web Empresarial</div>
                </div>
                <div class="mySlides">
                    <div class="numero">8/8</div>
                    <img class="img1" src="../assets/images/portfolio8.jpg" alt="Imagen8">
                    <div class="texto">Web para Pymes</div>
                </div>

                <a class="antes" onclick="pasarImagen(-1)">&#10094;</a>
                <a class="despues" onclick="pasarImagen(1)">&#10095;</a>

            </div>

                <div class="puntos">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
    </main>
        <footer>
            
            <div><img src="../assets/images/2.png" alt="eslogan" class="logo2" width="1584" height="396"></div> 
                <a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" alt="instagram" width="512" height="512" class="soci1"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png" alt="facebook" width="512" height="512" class="soci1"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="../assets/images/linkedin.png" alt="LinkedIn" width="512" height="512" class="soci"></a>
                <a href="https://twitter.com" target="_blank"><img src="../assets/images/twitter_5968830.png" alt="twitter" width="512" height="512" class="soci"></a>
            <div class="direc"><p>©Antonio Fco Mellado. Todos los derechos reservados.</p>
                <div class="poli"><a href="../views/politica.html">Política de Privacidad y Cookies.Condiciones de Venta</a></div>  
                <p>Calle Granada, 19 Alcalá del Rio. 41200. Sevilla</p></div>
      
       </footer>
       
       <script src="../js/galeria.js"></script>
</body>
</html>